@use './utils' as u;
@use './variables' as v;

.btn{
    padding: 16px 24px;
    border-radius: 8px;
    font-weight: v.$font-weight-semibold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 1px solid transparent;

    &--primary{
        background-color: v.$blue-600;
        color: v.$white;

        &:hover{
            background-color: v.$white;
            color: v.$blue-700;
            border: 1px solid v.$blue-700;
        }
    }

    &--secondary{
        background-color: v.$grey-500;
        color: v.$grey-700;

        &:hover{
            background-color: v.$white;
            color: v.$grey-600;
            border: 1px solid v.$grey-600;
        }
    }

    &--contact{
        background-color: v.$red-400;
        color: v.$white;

        &:hover{
            box-sizing: border-box;
            background-color: v.$white;;
            color: v.$red-400;
            border: 1px solid v.$red-400;
        }
    }
}

.headerShape{
    position: absolute;
    top: 20%;
    right: 0;
    width: 200px;
    height: 150px;
    background-color: v.$blue-600;
    z-index: -1;
    padding: 0;
    margin: 0;

    @include u.breakpoint('medium'){    
        width: 350px;
        height: 250px;
        top: 25%;
    }

    @include u.breakpoint('large'){    
        width: calc(250px + 3vw);
        top: 40%;
    }

    &--circle{
        position: absolute;
        top: 0;
        left: -35%;
        width: 70%;
        height: 100%;
        background-color: inherit;
        z-index: inherit;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }
}

.positionShape{
    transform: rotate(180deg);
    left: -8%;
    top: 50%;
    width: 50%;
    z-index: -1;

    @include u.breakpoint('medium'){    
        left: -50%;
        width: 100%;
        top: 20%;
    }

    @include u.breakpoint('large'){    
        left: -25%;
        width: 60%;
        top: 40%;
    }

}

.feature-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    padding: 0 2rem;

    @include u.breakpoint('large'){
        width: 80%;
        gap: 2rem;
        flex-direction: row;
        text-align: left;
        align-items: center;
    }

    img{
        max-width: 100%;
        min-width: 300px;
        width: 400px;
        height: 260px;
        margin-bottom: 24px;

        @include u.breakpoint('large'){
            width: 500px;
            height: 320px;
            margin-bottom: 0;
        }
    }

    &--image{
        flex: 2;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--content{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        gap: 1rem;
        margin-bottom: 4rem;
        h3{
            width: 70%;
            @include v.mobile-text-preset-1;
            color: v.$blue-950;
            padding: 2rem 2rem 0 2rem;
        }
        p{
            width: 80%;
            @include v.mobile-text-preset-2-regular;
            color: v.$grey-400;
        }

        @include u.breakpoint('medium'){
            width: 60%;
            gap: 2rem;
        }

        @include u.breakpoint('large'){
            align-items: flex-start;

            h3{
                padding: 0;
                width: 100%;
            }
        }
    }
}

.bg-dots{
    width: 100%;
    padding: 1.5rem 0;
}

.arrowUp{
    transform: rotate(180deg);
    width: 24px;
    height: 24px;
    filter: invert(29%) sepia(76%) saturate(7473%) hue-rotate(357deg) brightness(95%) contrast(101%);
}

.animateAnswer{
    display: block;
    max-height: 200px;
    transition: max-height 0.3s ease-in;
    overflow: hidden;
}

.extension-card{
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem 1rem 3rem 1rem;
    height: 100%;

    &--logo{
        max-width: 100%;
        height: auto;
        padding-bottom: 2rem;
    }

    h3{
        @include v.mobile-text-preset-1;
        color: v.$blue-950;
        padding: .5rem;
    }
    p{
        @include v.mobile-text-preset-2-regular;
        padding: 0;
        color: v.$grey-400;
    }
    button{
        margin: 0;
    }

    @include u.breakpoint('medium'){
        width: 30%;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 0;
        margin: 0;

        &--logo{
            max-width: 100%;
            height: auto;
            margin: 1rem 0 0 0;
        }

        h3{
            @include v.text-preset-3;
            color: v.$blue-950;
            padding: .5rem;
        }
        p{
            @include v.text-preset-6-regular;
            padding: 0;
            color: v.$grey-400;
        }
        button{
            margin: .5rem 0 1rem 0;
        }
    }


    @include u.breakpoint('large'){
        &:nth-child(2) {
            margin-top: 2.5rem;
        }
        
        &:nth-child(3) {
            margin-top: 5rem;
        }
    }
}

.rotatetedArrorw{
    transform: rotate(180deg);
    width: 16px;
    height: 16px;
    filter: invert(29%) sepia(76%) saturate(7473%) hue-rotate(357deg) brightness(95%) contrast(101%);
}

[data-active="false"] {
    position: relative;
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4rem 3rem;

    @include u.breakpoint('large'){
        .navbar--socials{
            display: none;
        }

        .navbar--menu{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 6rem;

            ul{
                text-align: right;
                list-style: none;
                gap: 2rem;

                li{
                    cursor: pointer;
                    @include v.text-preset-5-light;
                    color: v.$grey-600;

                    &:hover{
                        color: v.$red-400;
                    }
                }
            }
        }
    }

    
}

.navbar[data-active="true"] { 
    z-index: 10;
    color: v.$white;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .navbar--logo{
        position: fixed;
        top: 4rem;
        left: 50%;
        margin-left: calc(-225px + 3rem);
        z-index: 11;
        
        @include u.breakpoint('medium'){
            margin-left: calc(-410px + 3rem);
        }
    }

    .navbar--mobile{
        position: fixed;
        top: 4.4rem;
        left: 50%;
        margin-left: calc(225px - 4rem);
        z-index: 11;
        
        @include u.breakpoint('medium'){
            margin-left: calc(410px - 4rem);
        }
    }   

    .navbar--menu{
        position: fixed;
        max-width: 450px;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: v.$blue-950;
        opacity: 0.9;
        z-index: 9;
        width: auto;
        
        @include u.breakpoint('medium'){
            width: auto;
            max-width: 820px;
        }
        
        @include u.breakpoint('large'){
            width: auto;
            max-width: 1440px;
        }


        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        ul{
            position: relative;
            top: 15%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            li{
                width: 80%;
                padding: 1rem;
                font-size: 20px;
                list-style: none;
                border-bottom: 1px solid v.$grey-400;
                a{
                    color: v.$white;
                }
            }
            li:first-child{
                border-top: 1px solid v.$grey-400;
            }
            li:hover{
                color: v.$blue-950;
                background-color: v.$white;
            }
        }

        button{
            position: relative;
            top: 18%;
            width: 80%;
            border: 3px solid v.$grey-400;
            background-color: transparent;
            font-size: 20px;
        }

         button:hover{
            background-color: v.$white;
            color: v.$blue-950;
            border: 3px solid v.$blue-950;
         }
    }

    .navbar--socials{
        position: fixed;
        z-index: 11;
        display: flex;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        gap: 2rem;
    }
    .navbar--socials img:hover{
        filter: brightness(0) saturate(100%) invert(58%) sepia(96%) saturate(458%) hue-rotate(180deg) brightness(104%) contrast(101%);
    }
}