@use './utils' as u;
@use './variables' as v;

.btn{
    padding: 16px 24px;
    border-radius: 8px;
    font-weight: v.$font-weight-semibold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;

    &--primary{
        background-color: v.$blue-600;
        color: v.$white;

        &:hover{
            background-color: v.$blue-700;
        }
    }

    &--secondary{
        background-color: v.$grey-500;
        color: v.$grey-700;

        &:hover{
            background-color: v.$grey-650;
        }
    }

    &--contact{
        background-color: v.$red-400;
        color: v.$white;

        &:hover{
            //background-color: v.$red-700;
        }
    }
}

.bg-shape{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 60%;
    height: 60%;
    background-color: v.$blue-600;
    z-index: 1;

    &--circle{
        position: absolute;
        top: 0;
        left: -35%;
        width: 70%;
        height: 100%;
        background-color: inherit;
        z-index: inherit;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }
}

.titles{
    &--heading2{
        @include v.mobile-text-preset-1;
    }
    &--text{
        @include v.mobile-text-preset-2-regular;
        color: v.$grey-400;
    }
    
}

.positionShape{
    transform: rotate(180deg);
    left: -10%;
    top: 50%;
    z-index: -1;
}

.feature-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 16px;

    img{
        max-width: 100%;
        height: auto;
        margin-bottom: 24px;
    }

    &--image{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        gap: 1rem;
        margin-bottom: 8rem;
        h3{
            width: 70%;
            @include v.mobile-text-preset-1;
            color: v.$blue-950;
            padding: 2rem 2rem 0 2rem;
        }
        p{
            @include v.mobile-text-preset-2-regular;
            color: v.$grey-400;
        }
    }
}

.bg-dots{
    padding: 1.5rem;
}

.arrowUp{
    transform: rotate(180deg);
    width: 24px;
    height: 24px;
    filter: invert(29%) sepia(76%) saturate(7473%) hue-rotate(357deg) brightness(95%) contrast(101%);
}

.animateAnswer{
    display: block;
    max-height: 200px;
    transition: max-height 0.3s ease-in;
    overflow: hidden;
}

.extension-card{
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem 1rem 3rem 1rem;

    &--logo{
        max-width: 100%;
        height: auto;
        padding-bottom: 2rem;
    }

    h3{
        @include v.mobile-text-preset-1;
        color: v.$blue-950;
        padding: .5rem;
    }
    p{
        @include v.mobile-text-preset-2-regular;
        padding: 0;
        color: v.$grey-400;
    }
    button{
        margin: 0;
    }
}