@use './utils' as u;
@use './variables' as v;

.container{
    width: 100%;
    min-height: 100vh;
    max-width: 450px;
    
    margin: 0 auto;

    @include u.breakpoint('medium'){
        max-width: 820px;
    }

    @include u.breakpoint('large'){
        max-width: 1440px;
    }
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 3rem;

    &--logo{
        img{
            height: 100%;
            width: auto;
        }
    }

    &--mobile{
        img{
            height: 100%;
            width: auto;
        }   
    }

    &--menu{
        display: none;
        justify-content: space-around;
        align-items: center;
        height: 100%;

        button{

        }
    }
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
    gap: 3rem;
    margin-bottom: 8rem;

    &--graphic{
        position: relative;
        padding-bottom: 48px;
        z-index: 2;

        img{
            position: relative;
            z-index: 2;
            max-width: 100%;
            height: auto;
        }
    }

    &--content{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        h1{
            @include v.mobile-text-preset-1;
            color: v.$blue-950;
        }
        p{
            @include v.mobile-text-preset-2-regular;
            color: v.$grey-400;
        }
    }

    &--buttons{
        display: flex;
        gap: 1rem;

        @include u.breakpoint('medium'){
            flex-direction: row;
        }
    }
}

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &--main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            @include v.mobile-text-preset-1;
            color: v.$blue-950;
            padding-bottom: 2rem;
        }
        p{
            @include v.mobile-text-preset-2-regular;
            color: v.$grey-400;
            padding-bottom: 2rem;
        }
        ul{
            display: flex;
            flex-direction: column;
            width: 80%;
            list-style: none;
            margin-bottom: 48px;

            li{
                cursor: pointer;
                @include v.mobile-text-preset-2-medium;
                color: v.$grey-600;
                border-top: .8px solid v.$grey-400;
                padding: 1rem 0;

                &:nth-last-child(1){
                    border-bottom: .8px solid v.$grey-400;
                }

                &:hover{
                    color: v.$blue-700;
                }
            }
        }
    }
}

.extensions{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 32px;
    margin-bottom: 96px;

    h2{
        @include v.mobile-text-preset-1;
        padding-bottom: 16px;
    }
    p{
        @include v.mobile-text-preset-2-regular;
        color: v.$grey-400;
        padding-bottom: 48px;
    }
}

.faq-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 32px;
    margin-bottom: 96px;

    &__item{
        width: 100%;
        max-width: 720px;
        text-align: left;
        margin-bottom: 16px;

        &:last-child{
            margin-bottom: 0;
        }

        &--question{
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: v.$grey-500;
            border-radius: 8px;
            padding: 16px 24px;
            border-bottom: 1px solid v.$grey-400;
            margin-bottom: 1rem;

            @include v.mobile-text-preset-2-medium;
            color: v.$grey-700;

            img{
                width: auto;
                height: auto;
            }
        }
    }
}

.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 48px 32px 48px 32px;
    background-color: v.$blue-600;
    color: v.$white;

    h2{
        @include v.mobile-text-preset-1;
        padding-bottom: 16px;
    }
    p{
        @include v.mobile-text-preset-2-regular;
        padding-bottom: 24px;
    }

    &--form{
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        max-width: 720px;
    }
}

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 32px 32px;
    background-color: v.$blue-950;
    color: v.$white;

    img{
        width: auto;
        height: auto;
        filter: brightness(0) invert(1);
    }

    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 16px;

        li{
            cursor: pointer;
            color: v.$white;
            @include v.mobile-text-preset-2-light;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    &--socials{
        display: flex;
        gap: 2rem;

        img{
            cursor: pointer;
            width: 24px;
            height: auto;
        }
    }
}